# aliases
alias ..="cd ../"
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../"
alias ......="cd ../../../../"

# python
alias python="python3"
alias pip="pip3"

# custom fucntion
function csystem() {
    if [[ $1 == "--update" ]]; then
        sudo apt update;
        sudo apt upgrade -y;
        sudo apt autoclean;
        sudo apt autoremove -y
    fi
}